* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-container {
    background-color: rgb(177, 167, 167);
    border: orange solid 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    border: magenta solid 3px;
    word-spacing: 30px;
    height: 100px;
    line-height: 100px;

}

img {
    height: 100px;
    border: magenta solid 3px;
}

aside {
    border: blue solid 3px;
    padding: 20px;
    width: 250px;
    background-color: rgb(174, 245, 174);


}

main , section {
    flex: 1;
    display:flex;
}

section{flex-wrap: wrap;}


article {
    flex:1;min-width:30%;
    border: rgb(0, 191, 255) solid 3px;
    flex-direction: column;
    background-color: rgb(255, 212, 219);
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: yellowgreen solid 3px;
    background-color: gray;
    height: 100px;
  }

  .footer-box {
    border: solid rgb(255, 0, 0) 3px;
    margin: auto;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
  }
